{% extends 'layout.twig' %}

{% block content %}
<div class="row">
    <div class="col">
        <h1>Beers of the Moment</h1>
        <p>Data refreshes every ten minutes.</p>
    </div>
</div>

<div class="row">

{% for beer in beerData %}
    <div class="col">
        <h2>{{ beer.nameDisplay }}</h2>

        {% if beer.labels.medium %}
            <img src="{{ beer.labels.medium }}" class="beer-label">
        {% endif %}

        <p><strong>ABV:</strong> {{ beer.abv }}%</p>
        <p><strong>Type:</strong> {{ beer.style.name }}</p>
        <p><strong>Availability:</strong> {{ beer.available.description }}</p>
        <p><strong>Organic:</strong> {% if beer.isOrganic == 'Y' %}Yes{% else %}No{% endif %}</p>

        {% if beer.description %}
            <p>{{ beer.description }}</p>
        {% endif %}

        {% if beer.style and beer.style.description %}
            <h3>About {{ beer.style.name }}</h3>
            <p>{{ beer.style.description }}</p>
        {% endif %}

        {% if beer.foodPairings %}
            <h3>Food Pairings</h3>
            <p>{{ beer.foodPairings }}</p>
        {% endif %}

        <h3>Brewery Info</h3>

        {% for brewery in beer.breweries %}
            <h4>{{ brewery.name }}</h4>
            {% if brewery.images.icon %}
                <img src="{{ brewery.images.medium }}" class="brewery-image">
            {% endif %}
            {% if brewery.website %}<p><strong>Website:</strong> <a href="{{ brewery.website }}">{{ brewery.website }}</a></p>{% endif %}
            <p>{{ brewery.description }}</p>
        {% endfor %}
    </div>
{% endfor %}

</div>
{% endblock %}
